<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/profile.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="icon" type="image/svg" href="../images/favicon.svg">
        <script src="https://kit.fontawesome.com/5660cb5f80.js" crossorigin="anonymous"></script>
        <title>KdMeuBichinho? - Perfil</title>
    </head>
    <body>
        <header>
            <nav class="menu" id="menu">
                <a href="https://kdmeubichinho.vercel.app/">
                    <img src="https://kdmeubichinho.vercel.app/images/logo-black.svg" alt="Logo KdMeuBichinho" class="logo">
                </a>
                <input type="checkbox" id="bar">
                <label for="bar" class="bars">&#9776;</label>
                <ul class="">
                    <li><a href="https://kdmeubichinho.vercel.app/">Início</a></li>
                    <li><a href="https://kdmeubichinho.vercel.app/views/petadvert.html">Anunciar</i></a></li>
                    <li><a href="https://kdmeubichinho.vercel.app/views/signup.html">Cadastrar></a></li>
                    <li><button class="btn-primary" onclick="location.href='https://kdmeubichinho.vercel.app/views/login.html'">Entrar</i></button></li>
                </ul>  
            </nav>  
        </header>
        <main id="main">
            <section class="content">
                <input type="checkbox" id="filter">
                    <label for="filter" class="filters">Meu perfil <i class="fas fa-angle-down"></i></label>
                <div class="cont-profile">  
                    <div>
                        <i class="fas fa-user dropbtn font-size-60"></i>
                    </div>
                    <label id="name">Nome</label>
                    <label id="mail">Email</label>
                    <label id="zip_code">Cep</label>
                    <label id="street">Rua</label>
                    <label id="number">Número</label>
                    <label id="complement">Complemento</label>                  
                    <label id="phone">Celular</label>
                    <button id="edit" class="btn-primary">Editar</button>
                </div>
                <div class="cont-ad" id="cards_area">
                    <label class="filters">Meus anuncios</label>
                    <!-- Preenchido via JS -->
                </div>
            </section>
        </main>
        <footer class="footer" aria-placeholder="Topo" id="footer">
            <img src="https://kdmeubichinho.vercel.app/images/icone-black.svg" alt="Icone do KdMeuBichinho" class="icone">
            <div>
                <a href="https://github.com/teteusAraujo/KdMeuBichinho" target="_blank"><strong>Colabore no Github do projeto.</strong></a>
                <p>2021 Todos os direitos reservados.</p>
            </div>
            <a href="#main"><button class="btn-primary"><span class="footer-top-button"><i class="fas fa-chevron-up"></i></span></button></a>
        </footer>
        <div class="modal-container">
            <div class="modal">
                <h2>Editar</h2>
                <form>
                    <input type="text" name="Nome e Sobrenome" id="name_edit" placeholder="Nome*" title="Nome e sobrenome" required/>
                    <input type="text" name="cep" id="zip_code_edit" pattern="[0-9]{5}-[0-9]{3}" placeholder="CEP: xxxxx-xxx*" title="CEP" required/>
                    <input type="text" name="street" id="street_edit" placeholder="Rua*" title="Rua" required/>
                    <input type="text" name="number" id="number_edit" placeholder="Número*" title="Número" required/>
                    <input type="text" name="Complemento" id="complement_edit" placeholder="Complemento" title="Complemento"/>
                    <input type="tel" name="phone" id="phone_edit" placeholder="Celular:(xx)9xxxx-xxxx*" title="Celular" required/>
                    <div>
                        <button type="reset" id="cancel" class="btn-transparent">Cancelar</button>
                        <button type="submit" id="save" class="btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
        <script src="../scripts/main.js"></script>
        <script src="../scripts/profile.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    </body>
</html>