h2{
    color: var(--secondary-color);
    font-size: 2em;
    margin: 0px;
    font-weight: bold;
}
h3{
    font-size: 1em;
    margin: 0px;
    font-weight: normal;
}
.main-section{
    max-width: 1024px;
    margin: 0 auto;
}
.animation-home{
    top: -400px;
    transition: all 1s;
}
.section-home{
    background-color: var(--secondary-color);
    height: 90vh;
    display: flex;
    align-items: center;
    position: relative;

}
.home-content{
    margin-left: 100px;
    max-width: 50vw;
    display: flex;
    flex-direction: column;
}
.home-content > h1{
    color: var(--white-color);
}
.home-content > h1 > span{
    color: var(--gray-dark-color);
}
.home-animation{
    padding: 20px;
    max-width: 50vw;
    right: 0;
    position: absolute;
}
.animal-counter{
    padding: 20px 0px;
    color: var(--gray-light-color);  
}
ul{
    list-style: none;
}
.search{
    max-width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: var(--space);
}
.search-field{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.search-field *{
    margin: 5px;
}
.search-field-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 10px;
    border-radius: var(--space);
    background-color: var(--white-color);
    border: 1px solid var(--gray-light-color);
}
.search-field-area input{
    max-width: 130px;
    border: none;
}
.search-field-area select{
    border-radius: 0px;
    border: none;
    /* border-right: 1px solid var(--gray-light-color); */
}
.search-field-area *:last-child, .search-field-area *:nth-child(2){
    border-radius: 0px;
    border: none;
    border-left: 1px solid var(--gray-light-color);
}
.group-btn-pet{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.btn-pet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid var(--neutral-dark-color);
    border-radius: var(--space);
    width: 100px;
    height: 100px;
    margin: 5px;
}
.btn-pet:hover{
    cursor: pointer;
    background-color: var(--neutral-light-color);
}
.btn-pet i{
    font-size: 50px;
    padding: px;
}
.btn-pet label, i{
    color: var(--gray-color);
}
.btn-pet input[type="checkbox"]{
    display: none;
}
.btn-pet-img{
    width: 100%;
    margin: 5px;
}
.search-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: initial;
    flex-wrap: wrap;
    padding: var(--space);
}
.search-input > div{
    padding: var(--space);
    display: flex;
    flex-direction: column;
}
#filter{
    display: none;
}
.filter-fields label {
    padding: 5px;
}
.filters{
    color: var(--primary-color);
    font-weight: bold;
    padding: 10px;
    display: none;
}
.section-search{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.result{
    width: 100vw;
    display: flex;
    border-top: 1px solid var(--neutral-dark-color);
}
.result .result-cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
}
.result-cards .result-cards-section{
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pagination{
    padding: 20px;
}
.pagination ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination ul li{
    margin: 3px;
    border-radius: 200px;
    border: 2px solid var(--gray-light-color);
    color: var(--gray-light-color);
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.pagination ul li.active, .pagination ul li:hover{
    background-color: var(--gray-light-color);
    color: var(--white-color);
}
.result-filters{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    border-right: 1px solid var(--neutral-dark-color);
}
.title-filters{
    text-align: center;
    padding: 20px;
}
.title-filters p{
    color: var(--gray-light-color);
}
.res-card{
    width: 200px;
    margin: 0 var(--space) var(--space) 0px;
    background: var(--white-color);
    border: 1px solid var(--gray-light-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 15px -15px rgba(0,0,0,0.75);
}
.res-card:hover{
    width: 210px;
    box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.90);
}
.res-card-img{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;  
    background-color: var(--neutral-light-color);
}
.res-card-img img{
    height: 100%;
}
.res-card-txt{
    width: 100%;
    background-color: var(--white-color);
    padding: var(--space);
    display: block;
    padding: 5px 5px 2px 10px;
}
.res-card-txt *{
    margin: 2px 0px;
}
.res-card-txt p{
    word-break: break-all;
}
.res-card-txt p:first-child{
    font-weight: bold;
    line-height: normal;
}
.res-card-txt p:not(:first-child){
    font-size: 0.8em;
}
.res-card-tag{
    display: flex;
    flex-wrap: wrap;
    padding: 5px 5px 10px 5px;
}
.section-search-animation{
    height: auto;
}
@media(min-width: 0px) and (max-width: 399px){
    .res-card{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 2;
        width: 90%;
    }
    .res-card-img{
        grid-row: 1 / 3;
        width: 100px;
        height: 108px;
    }
    .res-card-txt{
        grid-row: 1;
        grid-column: 2;
        justify-content: center;
    }
    .res-card-tag{
        grid-row: 2;
        grid-column: 2;
    }
}
@media(min-width: 400px) and (max-width: 768px){
    .res-card{
        width: 150px;
    }
    .res-card-img{
        width: 100%;
        height: 100px;
    }
}
@media(max-width: 632px){
    .search-field{
        flex-direction: column;
    }
    .search-field-area{
        flex-direction: column;
    }
    .search-field-area *:last-child, .search-field-area *:nth-child(2){
        border: none;
    }
}
@media(max-width: 768px){
    .home-content h1{
        font-size: 1.8em;
    }
    .filters{
        display: inline;
    }
    .search-input{
        display: none;  
    }
    #filter:checked ~ div.search-input{
        display: flex;
    }
    .result-filters{
        min-width: 100%;
        border-right: none;
    }
    .result{
        flex-direction: column;
        padding: 0px;
    }
    .result-cards-section{
        justify-content: center;
        align-items: center;
    }
    span.tag{
        font-size: 0.7em;
        padding: 2px;
    }
}
@media(max-width: 1024px){
    .section-home{
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    .home-content{
        margin-left: 0px;
        max-width: 90vw;
        align-items: center;
    }
    .home-content h1{
        text-align: center;
    }
    .home-animation{
        max-width: 100%;
        max-height: 50vh;
        position: relative;
    }
}

