body{
    min-height: 100vh;
    background-color: var(--neutral-color);
}

.container {
    width: 100%;
    display: flex;
}

.side-left {
    flex: 1;
}

.side-left .top-bar {
    display: flex;
    justify-content: space-between;
    padding: var(--space);
}

.side-left .top-bar .tag-animal {
    border-color: var(--white-color);
    color: var(--white-color);
}

.side-left .dot-images {
    text-align: center;
    position: absolute;
    top: 0;
    left: 46%;
    padding: 10px 0px;
}

.side-right {
    flex: 1;
}

.side-right .description {
    background-color: var(--neutral-light-color);
    word-break: break-all;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description * {
    margin: 5px 0px;
}

side-right .contact-section .contact {
    padding: 20px 25px;
}

.side-right .contact-section .contact * {
    padding: 3px 0px;
}

.side-right .contact-section{
    display: flex;
    align-items: center;
}

.side-right .message {
    padding: 30px 10px;
}

.side-right .box-message {
    border: 1px solid var(--gray-light-color);
    border-radius: var(--space);
    padding: var(--space);
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side-right .box-text-message {
    overflow-y: scroll;
    max-height: 300px;
}

.side-right .box-text-message .style-message{
    line-height: 25px;
    word-break: break-all;
}

.side-right .box-text-message .style-message span:last-child {
    font-size: 0.8em;
    color: var(--gray-color);
    background-color: var(--neutral-dark-color);
    padding: 0px 10px;
    border-radius: var(--space);
}

.side-right .box-text-message .style-message span:first-child {
    color: var(--white-color);
    background-color: var(--secondary-color);
    padding: 3px 8px;
    border-radius: var(--space);
    margin-right: 5px;
    font-size: 1.0em;
}

.side-right .btn-size {
    padding: 10px 15px;
    flex: 1;
    max-width: 60px;
    margin-left: 10px;
}

.side-right .text-message {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.side-right .input-size {
    flex: 1;
}

.slideshow-container {
    margin: auto;
}

.slideshow-container .mySlides {
    overflow: hidden;
}

.slideshow-container .mySlides img {
    width: 100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

#nome_animal{
    font-weight: bold;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@media(max-width: 399px){
    .side-right .input-size{
        flex: 0;
    }
    .side-right .btn-size{
        flex: 0;
        margin-left: 3px;
    }
}
  
@media(max-width: 768px){
    .container {
        flex-direction: column;
    }
}

@media only screen and (max-width: 475px) {
    .prev, .next,.text {font-size: 11px}
}