ul{
    list-style: none;
}
.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-right: 15px;
}
.search > div{
    padding: 20px;
}
.search *:not(input):not(select){
    color: var(--white-color);
}
.search input{
    min-width: 50%;
    border: 1px solid var(--gray-light-color);
}
.search-field{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.search-field *{
    margin: 5px;
}
.search-input{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: var(--space);
}
.search-input > div{
    padding: var(--space);
    display: flex;
    flex-direction: column;
}
#filter{
    display: none;
}
.filters{
    display: none;
}
.result > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.res-card{
    width: 200px;
    margin: 0 var(--space) var(--space) 0px;
    background: var(--white-color);
    border: 1px solid var(--gray-light-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.res-card-img{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;    
}
.res-card-img img{
    height: 100%;
}
.res-card-txt{
    width: 100%;
    background-color: var(--white-color);
    padding: var(--space);
    display: block;
    padding: 5px 5px 2px 10px;
}
.res-card-txt *{
    margin: 2px 0px;
}
.res-card-txt p{
    word-break: break-all;
}
.res-card-txt p:first-child{
    font-weight: bold;
    line-height: normal;
}
.res-card-txt p:last-of-type{
    font-size: 0.8em;
}
.res-card-tag{
    display: flex;
    flex-wrap: wrap;
    padding: 5px 5px 10px 5px;
}

@media(min-width: 0px) and (max-width: 360px){
    .filters{
        display: inline;
    }
    .search-input{
        display: none;
    }
    #filter:checked ~ div.search-input{
        display: flex;
    }
    .res-card{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 2;
        width: 300px;
    }
    .res-card-img{
        grid-row: 1 / 3;
        width: 100px;
        height: 108px;
    }
    .res-card-txt{
        grid-row: 1;
        grid-column: 2;
        justify-content: center;
    }
    .res-card-tag{
        grid-row: 2;
        grid-column: 2;
    }
    span.tag{
        font-size: 0.7em;
        padding: 2px;
    }
}
@media(min-width: 361px) and (max-width: 768px){
    .filters{
        display: inline;
    }
    .search-input{
        display: none;
    }
    #filter:checked ~ div.search-input{
        display: flex;
    }
    .res-card{
        width: 150px;
    }
    .res-card-img{
        width: 100%;
        height: 100px;
    }
    span.tag{
        font-size: 0.7em;
        padding: 2px;
    }
}
